<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Игра в города</h3>
    <p>Всего в базе городов: <td th:text = "${citycount}" /></p>
    <table>
        <tr><th>Город</th></tr>
        <td th:text = "${answer}" />
    </table>
    <form action="#" th:action="@{/}" th:object="${newcity}" method="post">
        <p>Город: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Назвать" /></p>
    </form>
</body>
</html>